body {
    background-color: #5858da;
  }
  #canvas {
    width: 100%;
    height: 100%;
    margin: auto;
    display: grid;
    align-content: center;
  }
  #button{
    margin: auto;
    opacity: 2;
  }
  